@import 'foundation/components/grid';
@import 'foundation/functions';

$accent: #F5F5F5;
$white: #ffffff;

html, body {
  height: 100%;
}

hr {
  color: $accent;
}

.column, .columns {
  padding: 0;
}

.left-nav {
  .nav-item {
    border-bottom: .2rem solid $accent;
    padding: .75rem;
    width: 100%;
    font-weight: bold;
    &.active {
      background-color: $accent;
    }
  }
}

.details {
  border-bottom: .1rem solid $accent;
}

.details-table {
  width: 100%;
  tr {
    td {
      padding-top: 1rem;
      width: 50%;
      font-weight: bold;
      &.detail-type {
        text-align: right;
      }
      &.detail-description {
        padding-left: 4rem;
      }
    }
  }
}

.content {
  border-left: .2rem solid $accent;
  padding-left: 1rem;
}
