<div class="row">
    <div class="left-nav small-3 columns" role="navigation">
        <div class="nav-item active">
            Bacon
        </div>

        <div class="nav-item">
            Sausage
        </div>

        <div class="nav-item">
            Pork Chops
        </div>

        <div class="nav-item">
            Ribs
        </div>

        <div class="nav-item">
            Briskett
        </div>
    </div>

    <div class="content small-9 columns">
        <section>
            <h3>Bacon</h3>

            <div>
                Bacon ipsum dolor amet hamburger pariatur rump irure pork loin shankle fatback et porchetta aute ut ball
                tip shank beef ribs. Enim landjaeger tail tempor, dolor occaecat aute duis elit short loin sausage. Ad
                pork chop porchetta nulla, turkey pancetta ball tip short ribs meatloaf eiusmod magna anim fatback.
                Exercitation kevin qui fatback minim enim shank tempor, nulla pork rump et bresaola ex. Est ball tip
                swine commodo, nostrud cow in ex occaecat. Chicken eiusmod short loin cupidatat shankle, commodo
                drumstick dolore hamburger ribeye. Landjaeger cupim picanha shoulder reprehenderit beef.
            </div>
            <div class="details">
                <p class="bold">Details</p>
            </div>
            <table class="details-table">
                <tr>
                    <td class="detail-type">Weight:</td>
                    <td class="detail-description">20 lbs</td>
                </tr>
                <tr>
                    <td class="detail-type">Flavor:</td>
                    <td class="detail-description">Delicious</td>
                </tr>
            </table>
        </section>
        <section>
            <h3>Sausage</h3>

            <div>
                Minim deserunt ribeye culpa. Sunt laboris cillum ut deserunt landjaeger swine velit pork chop consequat
                shankle lorem ullamco bresaola. Ribeye pastrami sausage, nisi sint boudin ut hamburger voluptate mollit
                ad minim laborum drumstick eu. Velit ribeye kevin strip steak, pancetta enim corned beef. Cupim quis
                reprehenderit jowl kevin flank minim ground round shoulder. Adipisicing irure ad salami occaecat flank
                eu filet mignon kielbasa ex enim. Ipsum tempor incididunt andouille irure ham aliqua short ribs
                bresaola.
            </div>
        </section>
        <section>
            <h3>Pork Chops</h3>

            <div>
                Tri-tip ground round landjaeger ipsum, ad meatloaf exercitation porchetta ea ball tip pork pariatur
                fugiat ham hock. Turkey ut aliqua tongue in chuck laborum cillum in pig irure ball tip eu landjaeger.
                Labore lorem minim, corned beef enim dolor incididunt sed eiusmod pastrami picanha jowl sunt ut. Turkey
                tempor prosciutto shankle irure dolore. Voluptate dolore swine beef filet mignon ad. Bacon fatback
                tempor, occaecat biltong corned beef duis beef ribs cillum proident laboris tri-tip shankle dolor. Do ad
                beef ribs in, shank officia ullamco ut exercitation dolore pork loin flank chicken et irure.
            </div>
        </section>
        <section>
            <h3>Ribs</h3>

            <div>
                Short loin ball tip short ribs, t-bone frankfurter picanha tail brisket kielbasa ground round. Shankle
                porchetta biltong, flank meatloaf ham hock pancetta chicken pork loin kielbasa. Jerky flank bresaola
                tail fatback sirloin kielbasa short loin beef ribs pancetta ribeye pork chop rump porchetta. Filet
                mignon bresaola prosciutto strip steak kielbasa t-bone cow ribeye ham hock brisket. Andouille pancetta
                drumstick pork bresaola, jerky swine landjaeger shank tail. Bresaola pork loin chicken, short ribs bacon
                tenderloin jerky corned beef pork belly picanha.
            </div>
        </section>
        <section>
            <h3>Briskett</h3>

            <div>
                Cow chicken landjaeger kevin cupim tenderloin hamburger turducken filet mignon shankle. Tenderloin
                sirloin swine, doner pork fatback andouille shoulder shankle turkey prosciutto turducken. Andouille pig
                ham fatback porchetta pancetta chuck boudin. Brisket ham hock pastrami shank ball tip pork loin tongue
                alcatra. Ribeye frankfurter tri-tip, venison pork belly sausage ham filet mignon pork tail cow. Kielbasa
                pork pork chop doner tenderloin. Kevin cow doner andouille fatback.
            </div>
        </section>
    </div>
</div>
